body{
    margin:0;
    background:#121212;
    color:white;
    font-family:Arial,sans-serif;
}

h1{
    text-align:center;
}

img{
    max-width:100%;
    border-radius:10px;
}

.meme-card{
    width:500px;
    margin:20px auto;
    background:#1e1e1e;
    padding:15px;
    border-radius:12px;
    transition:0.3s;
}

.meme-card:hover{
    transform:translateY(-5px);
}

.meme-card h3{
    margin-bottom:10px;
}

.meme-card img{
    width:100%;
    height:350px;
    object-fit:cover;
    border-radius:10px;
}

.card-actions{
    margin-top:10px;
    display:flex;
    gap:10px;
}

/* .card-actions button{
    background:#333;
    color:white;
    border:none;
    padding:10px;
    border-radius:8px;
    cursor:pointer;
}

.card-actions button:hover{
    background:#444;
} */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 40px;

    background:#1a1a1a;

    box-shadow:
        0 2px 10px rgba(0,0,0,0.3);

    position:sticky;
    top:0;
    z-index:100;
}

.navbar h2{
    margin:0;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
    transition:0.2s;
}

.navbar a:hover{
    color:#ff6b6b;
}

.logo{
    font-size:32px;
    font-weight:900;

    background:linear-gradient(
        90deg,
        #ff6b6b,
        #ffb347
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.feed-container{
    max-width:900px;
    margin:auto;
}

.card-actions button{
    background:#333;
    color:white;
    border:none;
    padding:10px;
    border-radius:8px;
    cursor:pointer;

    transition:0.2s;
}

.card-actions button:hover{
    transform:scale(1.05);
    background:#444;
}

.profile{
    max-width:600px;
    margin:50px auto;
    background:#1e1e1e;
    padding:20px;
    border-radius:12px;
    text-align:center;
}

.profile-header{
    background:#1e1e1e;
    padding:25px;
    border-radius:15px;
    margin-bottom:30px;
}

.profile-header h1{
    font-size:48px;
    margin:0;

    background:linear-gradient(
        90deg,
        #ff6b6b,
        #ffb347
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.nav-links{
    display:flex;
    align-items:center;
    gap:20px;
}

.navbar button{
    background:#ff6b6b;
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

.navbar button:hover{
    background:#ff5252;
}

.meme-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.delete-btn{
    background:#ff4d4d;
    border:none;
    color:white;
    padding:8px 12px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.delete-btn:hover{
    background:#ff1f1f;
}

.comments-section{
    margin-top:15px;
    padding-top:15px;
    border-top:1px solid #333;
}

.comments-section input{
    width:70%;
    padding:10px;
    border:none;
    border-radius:8px;
    margin-right:10px;
}

.comments-section button{
    padding:10px;
}

.comment{
    margin-top:12px;
    padding:12px;
    background:#222;
    border-left:3px solid #ff9f43;
    border-radius:10px;
}

.comment p{
    margin:5px 0;
}

.comment strong{
    color:#ff9f43;
}

.comment-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
}

.delete-comment-btn{
    background:#2a2a2a;
    color:#ff6b6b;
    border:none;
    border-radius:8px;
    padding:6px 10px;
    cursor:pointer;
    transition:0.2s;
}

.delete-comment-btn:hover{
    background:#ff6b6b;
    color:white;
    transform:scale(1.05);
}

.comments-section input{
    width:75%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#2a2a2a;
    color:white;
}

.comments-section button{
    background:#e98d36;
    color:white;
    border:none;
    padding:12px 16px;
    border-radius:10px;
    cursor:pointer;
    transition:0.2s;
}

.comments-section button:hover{
    transform:scale(1.05);
}

a {
    text-decoration: none;
}

a strong,
a {
    color: #ff9f43;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.profile-avatar{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #ff8c5a;
    display:block;
    margin:0 auto 20px;
}

.avatar-container{
    position:relative;
    width:160px;
    margin:0 auto 20px;
}

.profile-avatar{
    width:160px;
    height:160px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #ff8c5a;
}

.edit-avatar-btn{
    position:absolute;
    right:5px;
    bottom:10px;

    width:40px;
    height:40px;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    cursor:pointer;

    background:#ff8c5a;
    color:white;
}

.upload-avatar-btn{
    display:block;
    margin:15px auto;
}